// 变量定义
@import "variable";
// 自定义字体，图标字体
@import "iconfont";
// 自定义引入bootstrap框架
@import "custom-bootstrap";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
//公共模块
@import "common";
@import "dropdown";
//首页
.scroll {
    height: 100%;
    overflow-y: auto;
}

.page-home {
    .activity-date {
        background: #FEE3E4 url(../images/p02.png) no-repeat center center;
        text-align: center;
        margin-top: 10px;
        h5 {
            background-color: #FEE3E4;
            display: inline-block;
            color: #DF1A23;
            text-align: center;
            font-size: 16px;
            line-height: 30px;
            margin-top: 10px;
            font-weight: normal;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .statistics {
        margin-top: 20px;
        .col-xs-4 {
            padding: 0 5px;
        }
        .item {
            height: 50px;
            text-align: center;
            background: url(../images/p01.png) no-repeat center top;
            background-size: 100% 100%;
            color: #fff;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 16px;
            label {
                margin-bottom: 0;
                font-weight: normal;
            }
        }
    }
    #search_bar {
        background-color: #FEE3E4;
    }
}

.weui_search_bar {
    margin-left: -15px;
    margin-right: -15px;
}

.participants {
    margin-top: 20px;
    .participant {
        padding-left: 3px;
        padding-right: 3px;
        overflow: hidden;
        position: relative;
        .thumbnail {
            min-height: calc(33.333333vw - 10px);
            max-height: calc(33.333333vw - 10px);
            margin-bottom: 5px;
            position: relative;
            line-height: calc(33.3333vw - 10px);
            .name {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                line-height: 20px;
                background-color: rgba(223, 26, 35, 0.7);
                color: #fff;
                text-align: center;
                border-radius: 0 0 3px 3px;
            }
        }
        .info {
            position: relative;
            width: 100%;
            line-height: 20px;
            height: 20px;
            color: rgba(223, 26, 35, 1);
            font-weight: normal;
            margin-bottom: 10px;
            .no {
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                right: 0px;
                text-align: left;
            }
            .count {
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                right: 0px;
                text-align: right;
            }
        }
    }
}

.weui_tab_bd {
    padding-bottom: 80px;
}

.weui_tabbar {
    .weui_tabbar_item {
        padding-top: 0px;
        .weui_tabbar_icon {
            height: auto;
            width: auto;
            text-align: center;
            .iconfont {
                font-size: 28px;
                color: #666;
            }
        }
        .weui_tabbar_label {
            margin-top: 0px;
            margin-bottom: 5px;
        }
        &.weui_bar_item_on {
            .iconfont {
                color: #DF1A23;
            }
            .weui_tabbar_label {
                color: #DF1A23
            }
        }
    }
}

//参赛投票页
.page-vote,
.page-note {
    background-color: #FEE3E4;
    .participant {
        margin-top: 15px;
        img {
            box-shadow: 2px 2px 5px 2px rgba(100, 100, 100, 0.2), 2px -2px 5px 2px rgba(100, 100, 100, 0.2), -2px 2px 5px 2px rgba(100, 100, 100, 0.2), -2px -2px 5px 2px rgba(100, 100, 100, 0.2);
        }
        .no,
        .name,
        .count {
            margin: 10px 0;
            color: #c91218;
        }
        .btn-vote-wrapper {
            .iconfont {
                margin: 0 5px;
            }
        }
    }
    .hr {
        margin: 20px 0;
    }
    h4 {
        color: #666;
        text-align: center;
        font-size: 18px;
    }
    .box {
        padding: 20px;
        border: 2px solid rgb(249, 110, 87);
        border-radius: 8px;
        position: relative;
        margin-top: 15px;
        .box-top {
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
        }
        .box-bottom {
            position: absolute;
            bottom: 18px;
            left: 0;
            right: 0;
        }
        .dot {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgb(249, 110, 87);
            &.left {
                position: absolute;
                left: 10px;
            }
            &.right {
                position: absolute;
                right: 10px;
            }
        }
        .box-center {
            p {
                margin: 10px 0 5px;
                color: #666;
            }
        }
        h5 {
            color: rgb(249, 110, 87);
            font-size: 1.6rem;
        }
    }
    .tag-box {
        margin-top: 20px;
        .tag {
            background-color: rgb(249, 110, 87);
            width: 100px;
            height: 50px;
            border-radius: 60px 60px 0 0;
            text-align: center;
            font-size: 1.6rem;
            color: #fff;
            line-height: 60px;
        }
        .body {
            border: 8px solid rgb(249, 110, 87);
            background-color: #fff;
            padding: 8px;
            dl {
                margin-bottom: 0;
                dt {
                    float: left;
                    width: 5em;
                    text-align: right;
                    padding-right: 5px;
                    font-weight: normal;
                }
                dd {
                    padding-left: 5em;
                    color: rgb(249, 110, 87);
                }
            }
            .text-orange {
                color: rgb(249, 110, 87);
            }
        }
    }
}

.page-note {
    background-color: #f1edea;
}

.avaiable-hearts {
    position: fixed;
    top: 5px;
    right: 15px;
    text-align: right;
    z-index: 1;
    .iconfont {
        color: #DF1A23;
    }
}

.page-award {
    .article {
        h1 {
            &.title {
                font-size: 24px;
                padding: 10px 30px;
                text-align: center;
                color: #fff;
                background-color: #DF1A23;
                display: inline-block;
            }
        }
        h2 {
            font-size: 28px;
            margin: 10px 0;
        }
        h3 {
            font-size: 20px;
            margin: 8px 0;
        }
        h4 {
            font-size: 18px;
            margin: 6px 0;
        }
        p {
            text-indent: 2em;
        }
        img {
            max-width: 100%;
            margin: 15px 0;
        }
    }
}

.page-ranking {
    .mib-list {
        &.left {
            .mib-head {
                float: left;
                width: 100px;
                height: 100px;
                img {
                    box-shadow: 0.5px 3px 3px 1px #9AA9C5;
                }
                .ranking {
                  position: absolute;
                  width: 30px;
                  height: 30px;
                  line-height: 30px;
                  border-radius: 50% 50%;
                  background-color: #fff;
                  color: #df1a23;
                  text-align: center;
                  font-size: 1.8rem;
                  margin-left: 80px;
                  margin-top: -90px;
                  box-shadow: 0.5px 1px 3px 1px #9AA9C5;
                }
            }
            .mib-body {
                padding-left: 135px;
                line-height: 120px;
            }
        }
        &.right {
            .mib-head {
                float: right;
                width: 100px;
                height: 100px;
                img {
                    box-shadow: 0.5px 3px 3px 1px #9AA9C5;
                }
                .ranking {
                  position: absolute;
                  width: 30px;
                  height: 30px;
                  line-height: 30px;
                  border-radius: 50% 50%;
                  background-color: #fff;
                  color: #df1a23;
                  text-align: center;
                  font-size: 1.8rem;
                  margin-left: -5px;
                  margin-top: -90px;
                  box-shadow: 0.5px 1px 3px 1px #9AA9C5;
                }
            }
            .mib-body {
                padding-right: 135px;
                line-height: 120px;
                text-align: right;
            }
        }
        .mib-head {
          position: relative;
        }
        .mib-body {
            .name {
                font-size: 1.4rem;
                color: #DF1A23;
                margin: 0 1%;
            }
            .no {
                font-size: 1.2rem;
                color: #DF1A23;
                margin: 0 1%;
            }
            .count {
                font-size: 1.4rem;
                background-color: #df1a23;
                color: #fff;
                padding: 5px 10%;
                margin: 0 2%;
            }
        }
    }
}